.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.control {
  margin-top: 30px;
}

.search-input {
  height: 30px;
}

.gh-user {
  border: 1px rgb(186, 186, 186) solid;
  width: 25%;
  margin: 10px auto 10px auto;
  padding: 15px;
  text-align: center;
  color: darkgray;
  background-color: aliceblue;
}

.gh-user img {
  border-radius: 50%;
  width: 100px;
}

.gh-icon {
  color: gray;
}
