@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(55, 55, 55, 0.18);
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid rgb(242, 242, 152);
  padding: 30px;
  border-radius: 5px;
  background-color: #fffbfb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: pink;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 70%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.icon {
  margin-right: 15px;
}

.taskCheckBox {
  margin-right: 10px;
}

.taskChecked {
  text-decoration: line-through solid 2px pink;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editingTask {
  background-color: #f2e8f1;
  height: 25px;
  font-size: inherit;
  font-family: "Poppins", sans-serif;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control input {
  width: 70%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.status {
  margin: auto;
  text-align: center;
  width: 40%;
  color: rgb(177, 156, 170);
}
