body {
  margin-left: 10vw;
  margin-right: 10vw;
}

header section {
  display: flex;
  justify-content: space-between;
}

#logo,
#nav {
  border: 1px solid grey;
  padding: 20px;
  background-color: lightgray;
  font-size: 1.5vh;
}

#nav {
  width: 30vw;
  text-align: center;
}

#intro-text {
  width: 60vw;
}

progress {
  border: 1px solid lightgray;
  height: 4vh;
  width: 100%;
}

progress::-webkit-progress-value {
  background-color: rgb(127, 115, 160);
}

progress[value]::-webkit-progress-bar {
  background-color: white;
}

/* --------------- general for form labels/inputs --------------- */

#form-div {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-right: 5vw;
}

#form-div div input,
select {
  width: 20vw;
  background-color: lightgray;
  border: none;
  margin: 5px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#form-div label {
  margin-top: 1.5vh;
  width: 120px;
  display: inline-block;
  text-align: right;
}

input[type="radio"]:after {
  border: 1px solid gray;
  width: 20px;
  height: 20px;
  top: -4px;
  right: -4px;
  position: relative;
  content: "";
  display: inline-block;
}

#form-div div input:focus,
textarea:focus,
select:focus {
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(127, 115, 160);
  border-radius: 0px;
  outline: none;
}

#next-step:focus {
  border: 1px solid rgb(127, 115, 160);
  outline: none;
}

input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* --------------- FORM 1 --------------- */

#prof-description-div label,
#prof-description-div p {
  width: 110px;
  text-align: justify;
  display: block;
  margin-right: 1vw;
}

#prof-description-div {
  display: flex;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

textarea {
  width: 100%;
  resize: none;
  background-color: lightgray;
  border: none;
}

.shipping-hidden {
  display: block;
}
#shipping:checked ~ #shipping-hidden {
  /* only works with tilde */
  position: absolute;
  display: none;
}

/* --------------- FORM 2 --------------- */

#newsletter ul {
  display: flex;
  flex-direction: row;
}

#newsletter li input {
  width: 30px;
}

#newsletter label {
  width: 150px;
}

/* --------------- FORM 3 --------------- */

#form3-div ul {
  display: grid;
  grid-template-columns: repeat(2, 20vw);
}
ul {
  list-style-type: none;
}

#form3-div ul label {
  display: inline-block;
  width: 110px;
  text-align: right;
  margin-bottom: 2vh;
}

img {
  width: 15vw;
}

#select-images ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
#select-images ul li label {
  display: block;
  width: 15vw;
  margin-bottom: 3vh;
  text-align: end;
}

/* --------------- FORM 4 --------------- */

#exp-month,
#exp-year,
#form-div div:nth-child(5) input {
  width: 60px;
}

input[name="card-ccv"] {
  background-color: burlywood;
}

/* ----------------- button ----------------- */

#next-step {
  float: right;
  padding: 15px;
  margin-top: 5vh;
  margin-bottom: 3vh;
  width: 35vw;
  background-color: rgb(127, 115, 160);
  border: none;
  border-radius: 5px;
}

#next-step:hover {
  background-color: rgb(95, 76, 146);
}

/* ------------------------- MEDIA ------------------------- */

@media only screen and (max-width: 700px) {
  #form-div {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  #form-div div input,
  select {
    width: 80px;
    background-color: lightgray;
    margin: 10px;
  }

  #form-div label {
    font-size: 0.88em;
    width: 90px;
  }

  /* --------------- FORM 1 --------------- */

  #form-div div {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #prof-description-div {
    display: block;
  }

  #prof-description-div label,
  #prof-description-div p {
    width: auto;
    text-align: justify;
    display: inline-block;
  }

  /* --------------- FORM 2 --------------- */

  #newsletter ul {
    flex-direction: column;
  }

  /* --------------- FORM 3 --------------- */

  #select-images ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
  }
}
