.App {
  text-align: center;
}
.outer-container {
  height: 100%;
}
.inner-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px rgb(240, 240, 148) dotted;
  padding: 50px;
}
